<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlibs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to Madlibs!</h1>
    <form action="/story" method="post">
     <label for="name">Enter a name:</label>
     <input id="name" name="name" type="text">
     <label for="adjective1">Enter an adjective:</label>
     <input id="adjective1" name="adjective1" type="text">
     <label for="noun1">Enter a noun:</label>
     <input id="noun1" name="noun1" type="text">
     <label for="pluralnoun1">Enter a plural noun:</label>
     <input id="pluralnoun1" name="pluralnoun1" type="text">
     <label for="adjective2">Enter an adjective:</label>
     <input id="adjective2" name="adjective2" type="text">
     <label for="adjective3">Enter an adjective:</label>
     <input id="adjective3" name="adjective3" type="text">
     <label for="verbing1">Enter a verb ending in -ing:</label>
     <input id="verbing1" name="verbing1" type="text">
     <label for="verbing2">Enter a verb ending in -ing:</label>
     <input id="verbing2" name="verbing2" type="text">
     <label for="adjective4">Enter an adjective:</label>
     <input id="adjective4" name="adjective4" type="text">
     <label for="adjective5">Enter an adjective:</label>
     <input id="adjective5" name="adjective5" type="text">
     <label for="noun2">Enter a noun:</label>
     <input id="noun2" name="noun2" type="text">
     <label for="pluralfood1">Enter a plural food:</label>
     <input id="pluralfood1" name="pluralfood1" type="text">
     <label for="bodypart1">Enter a body part:</label>
     <input id="bodypart1" name="bodypart1" type="text">
     <label for="adjective6">Enter an adjective:</label>
     <input id="adjective6" name="adjective6" type="text">
     <label for="vehicle">Enter a vehicle:</label>
     <input id="vehicle" name="vehicle" type="text">
     <label for="pluralfood2">Enter a plural food:</label>
     <input id="pluralfood2" name="pluralfood2" type="text">
     <label for="pluralfood3">Enter a plural food:</label>
     <input id="pluralfood3" name="pluralfood3" type="text">
     <label for="alive1">Enter something alive (plural):</label>
     <input id="alive1" name="alive1" type="text">
     <label for="alive2">Enter something alive (plural):</label>
     <input id="alive2" name="alive2" type="text">
     <label for="adverb">Enter an adverb:</label>
     <input id="adverb" name="adverb" type="text">
     <label for="pluralnoun2">Enter a plural noun:</label>
     <input id="pluralnoun2" name="pluralnoun2" type="text">
     <label for="bodypart2">Enter a body part:</label>
     <input id="bodypart2" name="bodypart2" type="text">
     <label for="number">Enter a number:</label>
     <input id="number" name="number" type="text">
     <label for="sillyword">Enter a silly word:</label>
     <input id="sillyword" name="sillyword" type="text">
     <label for="verb1">Enter a verb:</label>
     <input id="verb1" name="verb1" type="text">
     <label for="verb2">Enter a verb:</label>
     <input id="verb2" name="verb2" type="text">
     <label for="verb3">Enter a verb:</label>
     <input id="verb3" name="verb3" type="text">
     <label for="pluralbodypart">Enter a body part (plural):</label>
     <input id="pluralbodypart" name="pluralbodypart" type="text">
     <button type="submit">Submit</button>

    </form>
  </body>
</html>